<div>
  <h1> <%= erb(:'partials/_voteable', layout: false,  locals: {voteable: @question}) %> </h1>
    <div><%= erb(:'partials/_commentables', layout: false,  locals: {commentables: @question.comments}) %></div>
</div>
<div>
  <% @answers.each do |answer| %>
      <h2><%= erb(:'partials/_voteable', layout: false,  locals: {voteable: answer}) %></h2>
      <div><%= erb(:'partials/_commentables', layout: false,  locals: {commentables: answer.comments}) %></div>
  <% end %>
</div>
