<form action="/questions/params[:id]" method="post">
  <input type="textarea" name="content" value=""><br>
  <input type="submit" value="Enter Comment">
</form>

<% if @errors %>
  <% @errors.each do |e| %>
  <%= e %>
  <% end %>
<% end %>
