.sort-by-section {
  padding: 10px;
}

.sort-by-section ul li {
  display: inline-block;
  padding: 10px;
}

.button {
  display: inline-block;
}

.inline-buttons {
  display: inline-block;
}

.question-link {
  font-size: 30px;
}

.score {
  font-size: 25px;
  padding-right: 15px;
}

#main {
  padding-left: 50px;
}

form {
  padding-bottom: 30px;
}

label {
  font-size: 20px;
}

#wake {
  font-style: italic;
  font-weight: 500;
}

#overflow {
   font-style: italic;
   font-weight: 100;
}

#comment {
  font-size: 20px;
}
