<div>
  <h5>Answer</h5>
  <form method="POST" action="/questions/<%= @question.id %>/answers/new">
    <textarea name="answer[content]" rows="4" cols="50" placeholder="Enter answer here..."></textarea>
      <div>
        <input type="submit" value="Submit" class="btn waves-effect waves-light">
      </div>
  </form>
</div>
