<nav>
  <ul>
    <% if logged_in? %>
      <li ><a href='/account'><%= @user.first_name + " " + @user.last_name %></a></li>
      <li ><a href='/users/logout'>Log out</a></li>
      <li ><a href='/'>Home page</a></li>
    <% else %>
      <li class=><a href='sessions/new'>Log in</a></li>
      <li ><a href='/'>Home page</a></li>
    <% end %>
  </ul>
</nav>
