<nav>
  <ul>
    <% if logged_in? %>
      <li ><a href='/users/profile'><%= @user.username%></a></li>
      <li ><a href='/logout'>Log out</a></li>
      <li ><a href='/'>Home page</a></li>
    <% else %>
      <li class=><a href='/sessions/new'>Log in</a></li>
      <li ><a href='/'>Home page</a></li>
    <% end %>
  </ul>
</nav>
