<div>
  <h5>Ask a Question</h5>
  <div class="row">
    <form action='/questions' method='post' class="col s12">
      <div class="row">
        <div class="input-field inline">
          <label>New Question</lablel>
            <input type="text" name="content" >
            <input type="submit" value="Ask!" class="btn waves-effect waves-light">
          </div>
        </div>
    </form>
  <div>
</div>
