<div>
  <h5>Ask a Question</h5>
    <form action='/questions' method='post'>
        <div>
            <input type="text" name="content" placeholder="Type your question here...">
            <input type="submit" value="Ask!" class="btn waves-effect waves-light">
          </div>
    </form>
</div>
