<form action="/questions/<%= answer.question.id %>" method="post">
  <input type="hidden" name="_method" value="put" />
  <input type="hidden" name="select_best_id" value="<%= answer.id %>" />
  <input type="submit" value="Select Best">
</form>
