<div class="sort-by-section">
  <h5> Sort by: </h5>
    <ul>
      <li>
        <form action="/session/sortby" method="post"  class="waves-effect waves-light btn">
          <input type="hidden" name="_method" value="put" />
          <input type="submit" value="Date oldest to newest">
          <input type="hidden" name="sort_id" value="2">
        </form>
      </li>
      <li>
        <form action="/session/sortby" method="post"  class="waves-effect waves-light btn">
          <input type="hidden" name="_method" value="put" />
          <input type="submit" value="Date newest to oldest">
          <input type="hidden" name="sort_id" value="3">
        </form>
      </li>
      <li>
        <form action="/session/sortby" method="post"  class="waves-effect waves-light btn">
          <input type="hidden" name="_method" value="put" />
          <input type="submit" value="Trending">
          <input type="hidden" name="sort_id" value="4">
        </form>
      </li>
      <li>
        <form action="/session/sortby" method="post"  class="waves-effect waves-light btn">
          <input type="hidden" name="_method" value="put" />
          <input type="submit" value="Highest voted">
          <input type="hidden" name="sort_id" value="5">
        </form>
      </li>
    </ul>
</div>
