<ul>
  <% @voteables.each do |voteable| %>
    <li><span><%= erb(:'partials/_voteable', layout: false,  locals: {voteable: voteable}) %></span>
      <% if mine?(voteable) %>
        <%= erb(:'partials/_buttons', layout: false,  locals: {editable: voteable, type: voteable.type_of} ) %>
      <% end %>
    </li>

  <% end %>
</ul>

<% if logged_in? %>
  <%= erb(:'partials/_new_comment_form') %>
<% end %>
