<div>
  <% if logged_in? %>
    <%= erb(:'partials/_new_question_form') %>
  <% end %>
</div>
<%= erb(:'partials/_sort_by_bar', layout: false) %>
<div>
  <h5>Browse Questions</h5>
  <ul id="main">
    <% @voteables.each do |voteable| %>
      <li><span><%= erb(:'partials/_voteable', layout: false,  locals: {voteable: voteable}) %></span>
        <% if mine?(voteable) %>
          <%= erb(:'partials/_buttons', layout: false,  locals: {editable: voteable, type: voteable.type_of} ) %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
