<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title>WAKEOverFlow</title>
</head>
<body>
  <%= erb(:'partials/_navbar') %>
  <%= yield %>
</body>
<footer class="page-footer red">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Welcome to WAKE Overflow</h5>
                <p class="grey-text text-lighten-4">Your "Snark-free" resource!</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">The Squad</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="https://github.com/nyc-rock-doves-2017/WAKEOverFlow">Wan</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Aaron</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Kelsey</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Eddie</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2017 Copyright Text
            </div>
          </div>
        </footer>

</html>
